doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Vision | Cart
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Raleway', rel='stylesheet')
    link(rel='stylesheet', href='stylesheets/normalize.css')
    link(rel='stylesheet', href='stylesheets/main.css')
    link(rel='stylesheet', type='text/css', href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
  body#unlock
    #toggled
      a#close(href='javascript:void(0)')
        i.ion-close
      #menu-wrapper
        h1 MENU
        |  
        a(href='/') HOME
        |  
        a(href='/login') CUSTOMER LOGIN
        |  
        a(href='/custom') CUSTOM CABINETS
        |  
        a(href='/base') BASE CABINETS
        |  
        a(href='/information') INFORMATION
        |  
        a(href='/account') ACCOUNT OVERVIEW
        |  
        a(href="/logout") LOGOUT
    header#unlock
      nav
        a(href='/')
          img(src='images/logo.png')
        a#menu(href='javascript:void(0)')
          i.ion-navicon-round
        a#cart(href='cart.html')
          i.ion-android-cart
      #block
        #block_real
          h1 CART
          if orders != null
            if orders.length == 0
              p Your cart is empty
          form(action='/cart/submit_order', method="POST")
            .duplicate
              if orders != null
                for order in orders 
                  .cabinet
                    img(style='width: 80%; height: auto;', src='images/cabinet2.png')
                    br
                    a(style='text-decoration: none; color: black;', href='/cart/remove?uoid=' + order.uoid, method="GET") REMOVE
                  .store
                    ul(style='float: left;text-align:left;')
                      each value, key in order
                        - var h = key
                        - var p = value
                        if h != "uoid" && h != "quantity"
                          li #{h}: #{p}
                    |  
                    input#password(type='number', name=order.uoid + '_quantity', min='1', max='999', required='', placeholder='Quantity' value=order.quantity)
                  
            |  
            if orders != null
              if orders.length != 0
                input.button(style='width: 40%; margin-bottom: 50px; margin-top: 30vh;', type='submit', value='SUBMIT ORDER')
    script(src='javascripts/main.js', type='text/javascript')
