doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Vision | Base
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Raleway', rel='stylesheet')
    link(rel='stylesheet', href='stylesheets/normalize.css')
    link(rel='stylesheet', href='stylesheets/main.css')
    link(rel='stylesheet', type='text/css', href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
  body#unlock
    #toggled
      a#close(href='javascript:void(0)')
        i.ion-close
      #menu-wrapper
        h1 MENU
        |
        a(href='/') HOME
        |
        a(href='/login') CUSTOMER LOGIN
        |
        a(href='/custom') CUSTOM CABINETS
        |
        a(href='/base') BASE CABINETS
        |
        a(href='/information') INFORMATION
    header#unlock
      nav
        a(href='/index')
          img(src='images/logo.png')
        a#menu(href='javascript:void(0)')
          i.ion-navicon-round
        a#cart(href='/cart')
          i.ion-android-cart
      #block
        h1 BASE CABINETS
        .products
          a(href='#')
            figure
              img(src='images/placeholder.jpg', alt='')
          a(href='#')
            figure
              img(src='images/placeholder.jpg', alt='')
          a(href='#')
            figure
              img(src='images/placeholder.jpg', alt='')
          a(href='#')
            figure
              img(src='images/placeholder.jpg', alt='')
          a(href='#')
            figure
              img(src='images/placeholder.jpg', alt='')
          a(href='#')
            figure
              img(src='images/placeholder.jpg', alt='')
          a(href='#')
            figure
              img(src='images/placeholder.jpg', alt='')
          a(href='#')
            figure
              img(src='images/placeholder.jpg', alt='')
          a(href='#')
            figure
              img(src='images/placeholder.jpg', alt='')
          a(href='#')
            figure
              img(src='images/placeholder.jpg', alt='')
          a(href='#')
            figure
              img(src='images/placeholder.jpg', alt='')
          a(href='#')
            figure
              img(src='images/placeholder.jpg', alt='')
    script(src='javascripts/main.js', type='text/javascript')
